@addTagHelper "*,Microsoft.AspNetCore.Mvs.TagHelpers"
@model WorkPlease.Models.User
@{
    ViewData["Title"] = "IndexWithForm";
}
<div asp-validation-summary="All"></div>
<form action="/Home/Index" method="post">
    <input type="text" name="UserName" value="" />
    <input type="text" name="Password" value="" />
    <button type="submit" name="Submit">Submit</button>
</form>
@* Scaffolding
    @using (Html.BeginForm())
       {
           @Html.ValidationSummary(true)
           @Html.EditorForModel
       } *@