
@model WebApplication.Models.User
@{
    ViewData["Title"] = "Register";
}
<h2>Register</h2>
<div asp-validation-summary="All"></div>
<form action="/Home/Register" method="post">
    <input type="text" name="UserName" value="" />
    <input type="text" name="Password" value="" />
    <input type="text" name="FirstName" value="" />
    <input type="text" name="LastName" value="" />
    <button type="submit" name="Submit">Submit</button>
</form>
<a asp-action="UserList"> See a List of Users</a>
<p>@Model.</p>


@* Scaffolding
    @using (Html.BeginForm())
       {
           @Html.ValidationSummary(true)
           @Html.EditorForModel
       } *@